 @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: "Merriweather", serif;
} 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* banner section is stars from here */
.header-banner{
    max-width: 1320px;
    height: 600px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top:30px;
    background-image: url(/images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: overlay;
   
}
    

.banner-content p, h1{
    color: white;   
}
.banner-content p{
    font-size: 30px;
    font-weight: 400;
}
.banner-content h1{
    font-size: 40px;
    font-weight: 900;
}
.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    height: 600px; 
}
.orenge{
    color:blue;
}
.green{
    color: yellow;
}
/* banner section design end here */

/* discount section design stars here */
.discount-section{
    max-width: 802.9px;
    height: 806px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 30px;
}
.discount-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 1rem;

}
.discount-image{
    margin-top: 50px;
    width: 802.9px;
    height: 500px;
    background: url(happy-new-year-3d-letters-sign-coloful-background-blurred-fireworks-2024-new-year-party); 

}
.discount-image img{
    width: 100%;
    height: 100%;
}
.sixtyfive-dis{
   color: rgb(255, 0, 0);
   font-family: Inter;
  font-size: 70px;
}
  
  .dis-paragrapg{
    color: rgb(255, 0, 0);
   font-family: Inter;
   font-size: 15px;
   font-weight: 500;
  }
  .dis-categories{
color: rgb(7, 2, 17);
font-family: Inter;
font-size: 38px;
font-weight: 700;
  }
  .dis-categories:hover{
    cursor: pointer;
    color: green;
    font-size: 48px;
  }
/* discount section design ends here */
/* midnight party section stars from here */
.midmight-party{
width: 1320px;
height: 600px;
top: 282.67%;
/* border: 2px solid red; */
margin: 0 auto;
display: flex;
background-image: url(/images/Vectorrr.png);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-color: rgba(0,0,0,0.4);
background-blend-mode: overlay;
border-radius: 16px;

}
.midnight-text{
    width: 50%;
    height: 600px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.midnight-img{
    width: 50%;
    height: 600px;
    /* border: 2px solid green; */
}
.midnigth-headline{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
}
.midnight-paragraph{
color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-left: 5rem;
}
.join-icon{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
margin-right: 25rem;

}
.join-icon:hover{
    text-decoration: underline;
    color: red;
}
.midnight-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 600px;
    /* border: 2px solid green; */
}
.midnight-img img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.booking-page{
    width: 1320px;
    height: 482px; 
    border-radius: 16px;
   background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
   margin: 0 auto;
   margin-top: 120px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
  font-weight: 600;
  line-height: 56px;

} 
.booking-button{

    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 16px 32px 16px 32px;

   background: rgb(255, 0, 0);
   border: none;
   margin-left: 10rem;
   margin-top: 3rem;

}
.pdt{
   color:  rgb(255, 0, 0);
}
/* midnight party section ends from here */
/* offer section stars here */
.offer-section{
    /* Group 48 */

width: 1320px;
height: 463px;
display: flex;
margin: 0 auto;
/* border: 2px solid red; */

}
.best-offer{
   /* width: 33%;
   height: 463px;  */
   /* border: 2px solid red;
   display: flex;
   justify-content:center;
   align-items: center;
   flex-direction: column; */
   width: 35%;
  height: 255px;
  left: 140px;
   right: 787px;
   margin-top: 150px;
  
   
   
   
   

}
.offer-img{
     width: 35%;
     height: 463px;
    /* border: 2px solid blue;   */
    box-sizing: border-box;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 100%;
     /* width: 364.84px;
    height: 364.84px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-cartoon{
    width: 30%;
    height: 463px;   
    /* border: 2px solid green;  */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 267px 170px;
}
.offer-cartoon h2{
    color: blue;
    margin-right: 12rem;
    font-size: 32px;

}
.para-of-offer{
   
  width: 250px;
  height: 96px;  
  margin-right: 1rem;
  margin-bottom: 5rem;

}

.nbf{
    color: rgb(255, 0, 0);
    font-size: 24px;
   font-weight: 500;
   margin-bottom: 1rem;
}
.cs{
    
    Font-weight:900;
    
    Font-size:35px;
    margin-bottom: 1rem;   
}
.dolar-para{
    Font-weight: 400;
    font-size:20px;
    column-rule: rgba(7, 2, 17, 0.6);

}
/* offer section ends here */
/* holiday section stars from here */
.holiday-section{
    width: 1320px;
    height: 900.07px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 100px;
    position: relative;

}
.holiday-sale{
    width: 1068px;
    height: 200px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.holiday-desc{
   width: 1068px;
   height: 96px;
   left: 266px;
   right: -266px;
   top: 3765px;
   bottom: -3601px;
   text-align: center;
}
.holiday-sale h4{
color: rgb(7, 2, 17);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
.holiday-sale h2{

font-size: 72px;
font-weight: 900;
line-height: 91px;
letter-spacing: 0%;
text-align: center;
}
.holiday{
    color: red;
}
.solid-color-section{
    width: 1320px;
    height: 229px;
    background-color: red;
    position: absolute;
    top: 75%;
   
}
.gift-image{
    width: 674.82px;
    height: 577.96px;
    /* border: 2px solid green; */
    position: absolute;
    z-index: 1;
    display: flex;
}
.india{
    height: 550px;
    width: 500px;
    position: absolute;
    z-index: 1;
    margin-left: 8rem;
}
.discount-logo{
    z-index: 1;
    position: absolute;
    left: 600px;
    top: 20%;
    
}
/* holiday section  ends here */
